['todoist.desktop', 'slack.desktop', 'telegram-desktop.desktop', 'whatsappdesktop.desktop', 'org.gnome.Terminal.desktop', 'firefox.desktop', 'virt-manager.desktop', 'code-insiders.desktop', 'org.gnome.Nautilus.desktop', 'sublime_text.desktop', 'com.gexperts.Tilix.desktop', 'code.desktop', 'google-chrome.desktop']
