['org.gnome.Nautilus.desktop', 'com.gexperts.Tilix.desktop', 'slack.desktop', 'telegram-desktop.desktop', 'todoist.desktop', 'gmail.desktop', 'whatsapp.desktop', 'google-chrome-beta.desktop', 'chromium-browser.desktop', 'firefox.desktop', 'code.desktop', 'sublime_text.desktop', 'google-chrome.desktop', 'code-insiders.desktop', 'com.getpostman.Postman.desktop']
